<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.jxc.dao.DamageListGoodsDao">

    <resultMap id="damageListGoodsMap" type="com.atguigu.jxc.entity.DamageList">
        <result column="damage_list_id" property="damageListId" jdbcType="INTEGER" />
        <result column="damage_number" property="damageNumber" jdbcType="VARCHAR" />
        <result column="damage_date" property="damageDate" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="true_name" property="trueName" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="goodsListMap" type="com.atguigu.jxc.entity.DamageListGoods">
        <result column="damage_list_goods_id" property="damageListGoodsId" jdbcType="INTEGER" />
        <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
        <result column="goods_code" property="goodsCode" jdbcType="VARCHAR" />
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
        <result column="goods_model" property="goodsModel" jdbcType="VARCHAR" />
        <result column="goods_unit" property="goodsUnit" jdbcType="VARCHAR" />
        <result column="goods_num" property="goodsNum" jdbcType="INTEGER" />
        <result column="price" property="price" jdbcType="REAL" />
        <result column="total" property="total" jdbcType="REAL" />
        <result column="damage_list_id" property="damageListId" jdbcType="INTEGER" />
        <result column="goods_type_id" property="goodsTypeId" jdbcType="INTEGER" />
    </resultMap>

    <select id="damageListGoods" resultMap="damageListGoodsMap">
        SELECT
        t1.damage_list_id,
        t1.damage_number,
        t1.damage_date,
        t1.remarks,
        t1.user_id,
        t2.true_name
        FROM
        t_damage_list t1
        left JOIN t_user t2
        ON t1.user_id = t2.user_id
        <where>
        <if test="sTime != null and sTime !=''">
        and DATE_FORMAT(t1.damage_date,'%Y-%m-%d') >= DATE_FORMAT(#{sTime},'%Y-%m-%d')
        </if>
        <if test="eTime != null and eTime != ''">
        and DATE_FORMAT(#{eTime},'%Y-%m-%d') >= DATE_FORMAT(t1.damage_date,'%Y-%m-%d')
        </if>
        </where>
    </select>

    <select id="goodsList" resultMap="goodsListMap" >
        SELECT
        damage_list_goods_id,
        goods_id,
        goods_code,
        goods_name,
        goods_model,
        goods_unit,
        goods_num,
        price,
        total,
        damage_list_id,
        goods_type_id
        FROM
        t_damage_list_goods
        <where>
        damage_list_goods_id = #{damageListId}
        </where>
    </select>

    <insert id="saveDamageList" useGeneratedKeys="true" keyProperty="damageListId" parameterType="com.atguigu.jxc.entity.DamageList">
        INSERT INTO
        t_damage_list(damage_list_id,damage_number,damage_date,remarks,user_id)
        VALUES
        (#{damageListId},#{damageNumber},#{damageDate},
        #{remarks},#{userId})
    </insert>

    <insert id="saveDamageListGoods" useGeneratedKeys="true" keyProperty="damageListGoodsId" parameterType="com.atguigu.jxc.entity.DamageListGoods">
        INSERT INTO
        t_damage_list_goods(damage_list_goods_id,goods_id,goods_code,
        goods_name,goods_model,goods_unit,
        goods_num,price,total,damage_list_id,goods_type_id)
        VALUES
        (#{damageListGoodsId},#{goodsId},#{goodsCode},
        #{goodsName},#{goodsModel},#{goodsUnit},
        #{goodsNum},#{price},#{total},#{damageListId},#{goodsTypeId})
    </insert>

    <update id="setDamageListGoodsId"
            parameterType="com.atguigu.jxc.entity.DamageListGoods">
        UPDATE
        t_damage_list_goods
        SET
        damage_list_id = #{damageListId}
        WHERE
        damage_list_goods_id = #{damageListGoodsId}
    </update>

</mapper>